In [2]:
import requests
import json
import pandas as pd
from datetime import datetime
import time

In [7]:
def get_review(hotel_code):
    num = 0
    max_num = 10
    review_list = []

    while num <= max_num:
        url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/reviews/HOTEL/{hotel_code}/contents?page={num}'
        headers = {
            'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36',
        }
        res = requests.get(url,headers=headers)
        review = json.loads(res.text)

        for con in review['data']['contents']: 

            review_list.append({
                'reviewAt' : con['reviewAt'],
                'nickname' : con['nickname'],
                'comment' : con['comment'],
                'avgScore' : con['avgScore'],
                # 'avgScoreDesc' : con['avgScoreDesc'],
                # 'itemDetailName' : con['itemDetailName'],
                'helpfulCount' : con['helpfulCount']
                # 'mainImagePath' : con['mainImagePath']
                                })
        

        # 페이지 추가
        max_num = review['data']['totalElements'] // 20
        num += 1

    return pd.DataFrame(review_list)

In [35]:
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_csv('./hotels/전체.csv', index_col=0)
df

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
index,,,,,,,,,,,,,
0,69450,역삼 카파스,모텔,motel,138800,0,"❤️Suit 객실 예약시 와인, 전 객실 음료 무료제공 / 전객실 넷플릭스존❤️",서울,강남 / 역삼 / 삼성,300000016,200000151,37.501543,127.041135
1,70287,카파스 호텔,2성급,hotel,118800,120000,❤️Suit 객실 예약시 와인 또는 무료음료 제공/전 객실 넷플릭스 시청가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501458,127.041135
2,85926,역삼 브라운도트 역삼점,모텔,motel,90000,0,"✨넷플릭스,웨이브,티빙,디즈니+프리✨ 세라젬안마의자 운영☘️루프탑 단독 대관 이용(...",서울,강남 / 역삼 / 삼성,300000016,200000151,37.502845,127.040286
3,68173,역삼 리치웰,모텔,motel,69800,0,❤️선착순 할인 쿠폰/ 무료 주차 / 욕조 보유❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.502839,127.039826
4,70392,역삼 XYM,모텔,motel,69800,0,❤️전객실 65'TV / 넷플릭스 Free / 유튜브 / OTT가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501038,127.039672
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,100085,옥천 스테이비롯,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.249279,127.551268
23,86314,영동 솔밭민박,펜션,pension,150000,150000,NaN,충북,영동,300000031,200000328,36.129124,127.673429
24,79789,옥천 엠엔모텔,모텔,motel,40000,40000,NaN,충북,영동,300000031,200000328,36.329063,127.535953
25,80400,영동 초록마을펜션,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.113638,127.894085
26,100097,옥천 스톤앤레이크,펜션,pension,220000,220000,NaN,충북,영동,300000031,200000328,36.363617,127.588987

In [48]:
pd.set_option('display.max_rows', 10)

In [53]:
df = df.drop_duplicates()
len(df)

23711

In [56]:
df

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
0,69450,역삼 카파스,모텔,motel,138800,0,"❤️Suit 객실 예약시 와인, 전 객실 음료 무료제공 / 전객실 넷플릭스존❤️",서울,강남 / 역삼 / 삼성,300000016,200000151,37.501543,127.041135
1,70287,카파스 호텔,2성급,hotel,118800,120000,❤️Suit 객실 예약시 와인 또는 무료음료 제공/전 객실 넷플릭스 시청가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501458,127.041135
2,66994,역삼 아드리게,모텔,motel,69800,55000,❤️넓은 면적+전 객실 에이스 침대+스파욕조(일부)❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.500870,127.039099
3,85926,역삼 브라운도트 역삼점,모텔,motel,90000,0,"✨넷플릭스,웨이브,티빙,디즈니+프리✨ 세라젬안마의자 운영☘️루프탑 단독 대관 이용(...",서울,강남 / 역삼 / 삼성,300000016,200000151,37.502845,127.040286
4,70392,역삼 XYM,모텔,motel,59800,0,❤️전객실 65'TV / 넷플릭스 Free / 유튜브 / OTT가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501038,127.039672
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25152,100085,옥천 스테이비롯,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.249279,127.551268
25153,86314,영동 솔밭민박,펜션,pension,150000,150000,NaN,충북,영동,300000031,200000328,36.129124,127.673429
25154,79789,옥천 엠엔모텔,모텔,motel,40000,40000,NaN,충북,영동,300000031,200000328,36.329063,127.535953
25155,80400,영동 초록마을펜션,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.113638,127.894085
25156,100097,옥천 스톤앤레이크,펜션,pension,220000,220000,NaN,충북,영동,300000031,200000328,36.363617,127.588987

In [68]:
toy

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
0,69450,역삼 카파스,모텔,motel,138800,0,"❤️Suit 객실 예약시 와인, 전 객실 음료 무료제공 / 전객실 넷플릭스존❤️",서울,강남 / 역삼 / 삼성,300000016,200000151,37.501543,127.041135
1,70287,카파스 호텔,2성급,hotel,118800,120000,❤️Suit 객실 예약시 와인 또는 무료음료 제공/전 객실 넷플릭스 시청가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501458,127.041135
2,66994,역삼 아드리게,모텔,motel,69800,55000,❤️넓은 면적+전 객실 에이스 침대+스파욕조(일부)❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.500870,127.039099
3,85926,역삼 브라운도트 역삼점,모텔,motel,90000,0,"✨넷플릭스,웨이브,티빙,디즈니+프리✨ 세라젬안마의자 운영☘️루프탑 단독 대관 이용(...",서울,강남 / 역삼 / 삼성,300000016,200000151,37.502845,127.040286
4,70392,역삼 XYM,모텔,motel,59800,0,❤️전객실 65'TV / 넷플릭스 Free / 유튜브 / OTT가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501038,127.039672

In [78]:
review

,reviewAt,code,name,price,nickname,comment,avgScore,avgScoreDesc,itemDetailName,helpfulCount,prf,review,lat,lon
0,2020.07.19,66720,서울대입구 폭스,45000,sks**,사진이 너무 깔끔하게 나온듯 ㅠㅠ 외관은 뭐.. 좀 무서웠어요 4-5만원짜리 숙소같...,3.5,좋음,스탠다드(이벤트 객실) 체크인 시 배정,0,67%,트루리뷰 17개,37.483092,126.954564
1,2022.12.11,66720,서울대입구 폭스,45000,rhd**,방은 전체적으로 따뜻하고 좋았는데 변기에 청소를 하시고 물을 안내린건지 더러운 상태...,3.3,좋음,스탠다드,0,67%,트루리뷰 17개,37.483092,126.954564

In [87]:
for i in range(len(toy)):
    print(toy.loc[i,'code'])

69450
70287
66994
85926
70392

In [85]:
for i in df['region_L'].unique():
    print(i)

array(['서울', '부산', '제주', '강원', '경기', '인천', '대구', '울산', '경남', '경북', '광주',
       '전남', '전북', '대전', '충남', '충북'], dtype=object)

In [86]:

for i in df['region_L'].unique():
    df.iloc

서울
부산
제주
강원
경기
인천
대구
울산
경남
경북
광주
전남
전북
대전
충남
충북

In [93]:
df['region_L'].unique()[0]

'서울'

In [101]:
for region in df['region_L'].unique()[:1]: # 서울만
     
     region_df = df[df['region_L'] == region]
     region_review = pd.DataFrame()

     for idx in range(len(region_df)):
          h_code = region_df.loc[idx,'code']

          # 리뷰 받아오는 함수
          review_df = get_review(h_code)

          # 코드 추가
          review_df['code'] = h_code

          # 순서 설정
          review_df = review_df[['reviewAt',"code"] + [col for col in review_df.columns if col not in ['reviewAt',"code"]]]

          pd.concat([region_review,review_df], ignore_index=True)

          print(f'{h_code} Done!, len:{len(review_df)}')

          review_df.to_csv(f'{h_code}.csv', index=False)

     region_review.to_csv(f'{region}.csv', index=False)

69450 Done!, len:2052
70287 Done!, len:476
66994 Done!, len:50
85926 Done!, len:123
70392 Done!, len:1010
73890 Done!, len:4419
68173 Done!, len:823
67307 Done!, len:123
71089 Done!, len:2557
70213 Done!, len:2645
79482 Done!, len:1159
73846 Done!, len:1576
70400 Done!, len:2487
81112 Done!, len:848
82949 Done!, len:176
72475 Done!, len:4661
80481 Done!, len:1088
75600 Done!, len:1290
69963 Done!, len:2653
75853 Done!, len:1329
69852 Done!, len:1736

In [4]:
pd.read_csv('./70213.csv')

,reviewAt,code,nickname,comment,avgScore,avgScoreDesc,itemDetailName,helpfulCount
0,2023.10.30,70213,wlf**,접근성 좋고 혼자 호캉스하기 좋아요~!:)\n1층에 편의점이랑 아티제 있어서 커피사...,3.8,좋음,그랜드 디럭스 더블,0
1,2023.08.13,70213,fur**,전반적으로 룸 컨디션 양호하고 전망이 좋았어요\n나름 교회 덕분에 유럽 감성 나고 ...,5.0,최고,한정 I 디럭스 더블 교회뷰 / 더블 침대 1개,1
2,2023.05.26,70213,min**,가장 맘에 들었던 건 패밀리룸에 3인 조식! 대부분 2인 조식 상품이라 3인 조식 ...,5.0,최고,"[3인 조식 PKG] 스탠다드 패밀리 / 더블 1, 싱글 1개",3
3,2023.10.05,70213,par**,침구가 부드러워서 좋았고.. 먹을 수 있는 테이블이 없어서 먹는 건 좀 불편했어요 ...,4.3,매우좋음,체크인 시 배정,0
4,2023.05.24,70213,jsm**,"잠시 혼자 쉴 수 있는 공간이 필요해서 2박을 예약을 하게되었고 아늑한 공간, 조명...",4.0,매우좋음,스탠다드 더블 → 디럭스 더블 / 더블 침대 1개,1
...,...,...,...,...,...,...,...,...
2640,2017.09.05,70213,h19**,너ㅣ좋앗어요 최고요,2.0,NaN,체크인 시 배정,0
2641,2017.08.28,70213,jun**,너무 무성의했네요...,2.0,NaN,[DAILY Special Price] 체크인 시 배정,0
2642,2017.08.06,70213,sun**,수건 타올 지져분하고 방이 너무 작다\n편의시설 부족,2.0,NaN,[DAILY Special Price] 체크인 시 배정,0
2643,2017.02.12,70213,sto**,그냥 그럼.. 생각보다 별로..,1.0,NaN,[DAILY Wine PKG] 스탠다드 더블,0
2644,2016.12.26,70213,fbm**,시설및 써비스가 엉망임,1.0,NaN,체크인 시 배정,0