In [2]:
import requests
import json
import pandas as pd
from datetime import datetime
import time

In [34]:
def get_review(hotel_code):
    num = 0
    max_num = 10
    review_list = []

    while num <= max_num:
        url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/reviews/HOTEL/{hotel_code}/contents?page={num}'
        headers = {
            'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36',
        }
        res = requests.get(url,headers=headers)
        review = json.loads(res.text)

        for con in review['data']['contents']: 

            review_list.append({
                'reviewAt' : con['reviewAt'],
                'nickname' : con['nickname'],
                'comment' : con['comment'],
                'avgScore' : con['avgScore'],
                # 'avgScoreDesc' : con['avgScoreDesc'],
                # 'itemDetailName' : con['itemDetailName'],
                'helpfulCount' : con['helpfulCount']
                # 'mainImagePath' : con['mainImagePath']
                                })
        # 1000개 까지만
        if len(review_list) == 1000:
            break
        # 페이지 추가
        max_num = review['data']['totalElements'] // 20
        num += 1

    return pd.DataFrame(review_list)

In [11]:
get_review(70287)

,reviewAt,nickname,comment,avgScore,helpfulCount
0,2023.06.26,zka**,정말 오랜만에 예약한 카파쓰 호텔 ❤️늦은 시간 체크인이엿는데 도착하자마자 환한 미...,5.0,0
1,2023.05.06,gus**,it was a very comfortable and tidy room!\nthey...,5.0,0
2,2023.05.01,som**,클래식으로 예약했으나 직원분께서 스위트로 업그레이드 시켜주셔서 감사했습니다^^\n전...,4.8,0
3,2022.08.26,moo**,전체적으로 조명이 어두운데 잠을 잘잤어요\n근처에 편의점도 있고 10분정도 도보로 ...,4.5,5
4,2021.10.01,sos**,역삼역에서 가까운 편이고 가격 저렴하고 방도 큰편이고 큰 욕조도 있는데 소파는 칼로...,4.5,8
...,...,...,...,...,...
471,2020.01.11,ehd**,스킨 로션이 없어서 구려요,1.0,1
472,2020.01.11,aze**,13만원짜린 절대 아닌듯 방음이 문이 없는 수준,1.5,0
473,2019.10.25,che**,조식이 맛없었어요 ..,2.0,0
474,2019.10.25,guc**,하수구 냄새가 너무 나여ㅜ,2.0,0
475,2019.09.28,yys**,벽이 너무 더럽고 날파리들 날라다녔어요,1.5,0

In [4]:
df = pd.read_csv('./hotels/전체.csv', index_col=0)
df

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
index,,,,,,,,,,,,,
0,69450,역삼 카파스,모텔,motel,138800,0,"❤️Suit 객실 예약시 와인, 전 객실 음료 무료제공 / 전객실 넷플릭스존❤️",서울,강남 / 역삼 / 삼성,300000016,200000151,37.501543,127.041135
1,70287,카파스 호텔,2성급,hotel,118800,120000,❤️Suit 객실 예약시 와인 또는 무료음료 제공/전 객실 넷플릭스 시청가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501458,127.041135
2,85926,역삼 브라운도트 역삼점,모텔,motel,90000,0,"✨넷플릭스,웨이브,티빙,디즈니+프리✨ 세라젬안마의자 운영☘️루프탑 단독 대관 이용(...",서울,강남 / 역삼 / 삼성,300000016,200000151,37.502845,127.040286
3,68173,역삼 리치웰,모텔,motel,69800,0,❤️선착순 할인 쿠폰/ 무료 주차 / 욕조 보유❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.502839,127.039826
4,70392,역삼 XYM,모텔,motel,69800,0,❤️전객실 65'TV / 넷플릭스 Free / 유튜브 / OTT가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501038,127.039672
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,100085,옥천 스테이비롯,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.249279,127.551268
23,86314,영동 솔밭민박,펜션,pension,150000,150000,NaN,충북,영동,300000031,200000328,36.129124,127.673429
24,79789,옥천 엠엔모텔,모텔,motel,40000,40000,NaN,충북,영동,300000031,200000328,36.329063,127.535953
25,80400,영동 초록마을펜션,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.113638,127.894085
26,100097,옥천 스톤앤레이크,펜션,pension,220000,220000,NaN,충북,영동,300000031,200000328,36.363617,127.588987

In [5]:
pd.set_option('display.max_rows', 10)

In [6]:
df = df.drop_duplicates()
len(df)

23518

In [7]:
import os

# 디렉터리 경로
directory_path = "./reviews"


# 디렉터리 존재 여부 확인
if not os.path.exists(directory_path):
    os.makedirs(directory_path)
    print('디렉토리 생성')
else:
    print('디렉토리 존재')

디렉토리 존재

In [14]:
df['region_L'].unique()[:1]

array(['서울'], dtype=object)

In [26]:
df

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
index,,,,,,,,,,,,,
0,69450,역삼 카파스,모텔,motel,138800,0,"❤️Suit 객실 예약시 와인, 전 객실 음료 무료제공 / 전객실 넷플릭스존❤️",서울,강남 / 역삼 / 삼성,300000016,200000151,37.501543,127.041135
1,70287,카파스 호텔,2성급,hotel,118800,120000,❤️Suit 객실 예약시 와인 또는 무료음료 제공/전 객실 넷플릭스 시청가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501458,127.041135
2,85926,역삼 브라운도트 역삼점,모텔,motel,90000,0,"✨넷플릭스,웨이브,티빙,디즈니+프리✨ 세라젬안마의자 운영☘️루프탑 단독 대관 이용(...",서울,강남 / 역삼 / 삼성,300000016,200000151,37.502845,127.040286
3,68173,역삼 리치웰,모텔,motel,69800,0,❤️선착순 할인 쿠폰/ 무료 주차 / 욕조 보유❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.502839,127.039826
4,70392,역삼 XYM,모텔,motel,69800,0,❤️전객실 65'TV / 넷플릭스 Free / 유튜브 / OTT가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501038,127.039672
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,100085,옥천 스테이비롯,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.249279,127.551268
23,86314,영동 솔밭민박,펜션,pension,150000,150000,NaN,충북,영동,300000031,200000328,36.129124,127.673429
24,79789,옥천 엠엔모텔,모텔,motel,40000,40000,NaN,충북,영동,300000031,200000328,36.329063,127.535953
25,80400,영동 초록마을펜션,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.113638,127.894085
26,100097,옥천 스톤앤레이크,펜션,pension,220000,220000,NaN,충북,영동,300000031,200000328,36.363617,127.588987

In [35]:
for region in df['region_L'].unique()[:1]: # 서울만
     
     region_df = df[df['region_L'] == region]
     region_review = pd.DataFrame()

     for idx in range(min(len(region_df),1000)): # 1000개 까지만
          h_code = region_df.iloc[idx,0]

          # 리뷰 받아오는 함수
          review_df = get_review(h_code)

          # 코드 추가
          review_df['code'] = h_code

          # 순서 설정
          review_df = review_df[['reviewAt',"code"] + [col for col in review_df.columns if col not in ['reviewAt',"code"]]]

          pd.concat([region_review,review_df], ignore_index=True)

          print(f'{h_code} Done!, len:{len(review_df)}')

          review_df.to_csv(f'./reviews/{h_code}.csv', index=False)

     region_review.to_csv(f'./reviews/{region}.csv', index=False)

69450 Done!, len:1000
70287 Done!, len:476
85926 Done!, len:123
68173 Done!, len:823
70392 Done!, len:1000
73890 Done!, len:1000
67307 Done!, len:123
66994 Done!, len:50
71089 Done!, len:1000
70213 Done!, len:1000
79482 Done!, len:1000
73846 Done!, len:1000
70400 Done!, len:1000

In [4]:
pd.read_csv('./reviews/71089.csv')

,reviewAt,code,nickname,comment,avgScore,helpfulCount
0,2023.09.04,71089,dms**,주말에 일정이있어서 방문했는데요~\n혼자묵기에 참 좋은위치였구요~ 침구도 푹신푹신\...,5.0,0
1,2023.08.23,71089,yej**,서울 와서 급하게 그냥 여자 혼자 적당히 1박 할 수 있는? 가성비 좋은 호텔 찾다...,4.3,1
2,2023.05.17,71089,min**,여기서는 잠을 편하게 잘 수 있어요. 그리고 화장대사 별도로 있어 너무 좋습니다! ...,5.0,2
3,2023.05.16,71089,tok**,버튼을 잘못 눌러서 별로에요...표시가 되버렸는데 그거 아니에요ㅜㅜ 너무 만족해요 ...,5.0,0
4,2023.08.04,71089,ajy**,"룸은 깔끔하지만 너무 좁아서 조금 답답하고 천장은 조금 무섭고, 사진이랑은 좀 달랐...",4.0,0
...,...,...,...,...,...,...
995,2021.02.21,71089,gks**,깨끗하고 좋았습니다 ㅎㅎ,5.0,0
996,2021.02.20,71089,rkd**,께끗하고\n편히쉴수있는 호텔이였습니다 ~,4.8,0
997,2021.02.18,71089,yei**,좋았어요~ 깨끗하고 교통도 편리해요,5.0,0
998,2021.02.17,71089,rkd**,께끗하고 편안한 호텔입니다,5.0,0
999,2021.02.15,71089,par**,뷰가 너무 좋았습니다 감사합니다,5.0,0

In [31]:
pd.read_csv('69450.csv')

,reviewAt,code,nickname,comment,avgScore,helpfulCount
0,2023.08.15,69450,sou**,카파쓰 호텔 시작에 도착할때 밖에 직접 환영학기를 위해 성격 친절하게 보였습니다! ...,5.0,2
1,2023.09.02,69450,cr4**,직원분도 너무 친절하고 실내가 너무 깨끗하고 좋았어요 진짜 기대이상이라 꼭 재이용할...,5.0,0
2,2023.08.15,69450,sou**,대실때 너무 편리해요! 저 담배 피는 적이 없어요! 원래는 담배 남새 있었다고 직원...,5.0,0
3,2023.08.15,69450,sou**,지난주에 여기 계실때 태풍이 있어도 온 진동이나 문제 없었어요! 직원 라면을 전자레...,5.0,0
4,2023.07.16,69450,ys5**,늦은 일정을 마치고 피곤할 것 같아서 늦은 퇴실 예약을 했는데 입실하면서 객실 업그...,5.0,0
...,...,...,...,...,...,...
2047,2018.01.02,69450,iov**,골목안쪽에 있어서 찾기가 힘들고 사진하고 많이다르네요,2.0,0
2048,2017.09.01,69450,cks**,별로정말안좋음요ㅜㅜ,1.0,0
2049,2017.08.21,69450,msk**,별로였어요..가격대비,1.8,0
2050,2017.05.23,69450,kal**,방을 두번이나 옮김\n두개다 청소가 안되어있었음,2.0,0
2051,2017.03.12,69450,skt**,12시되면 칼 아웃시킵니다.,2.0,0